<aside class="sidebar">
  <div class="sidebar__box">
    <div class="sidebar__boxTitle">New Feeds</div>
    <!--  -->
    <div class="sidebar__boxItem">
      <div class="sidebar__boxItem--icon">
        <a href="#"><i class="fa-solid fa-tv"></i> </a>
      </div>
      <div class="sidebar__boxItem--name">
        <link rel="stylesheet" href="#" /><span>Newsfeed</span>
      </div>
    </div>
    <!--  -->
    <div class="sidebar__boxItem">
      <div class="sidebar__boxItem--icon" id="badges">
        <a href="#"><i class="fa-solid fa-medal"></i> </a>
      </div>
      <div class="sidebar__boxItem--name">
        <link rel="stylesheet" href="#" /><span>Badges</span>
      </div>
    </div>
    <!--  -->
    <div class="sidebar__boxItem">
      <div class="sidebar__boxItem--icon" id="explore">
        <a href="#"><i class="fa-solid fa-globe"></i> </a>
      </div>
      <div class="sidebar__boxItem--name">
        <link rel="stylesheet" href="#" /><span>Explore Stories</span>
      </div>
    </div>
    <!--  -->
    <div class="sidebar__boxItem">
      <div class="sidebar__boxItem--icon" id="groups">
        <a href="#"><i class="fa-solid fa-bolt"></i></a>
      </div>
      <div class="sidebar__boxItem--name">
        <link rel="stylesheet" href="#" /><span>Popular Groups</span>
      </div>
    </div>
    <!--  -->
    <div class="sidebar__boxItem">
      <div class="sidebar__boxItem--icon" id="author">
        <a href="#"><i class="fa-solid fa-user-pen"></i></a>
      </div>
      <div class="sidebar__boxItem--name">
        <link rel="stylesheet" href="#" /><span>Author Profile</span>
      </div>
    </div>
  </div>
</aside>
