// Fonts
$main-font-family: "Roboto", sans-serif;
$header-font-family: "Montserrat", sans-serif;
$logo-font-family: "Fredoka", sans-serif;
// Colors
$app-bg-color: #e8f1fa;
$error-color: #f32323;
$logo-icon-color: #10d876;
$theme-color: #05f;
// Auth
$auth-button-text: #fff;
$auth-button-bg: #343a40;
$auth-info-color: #adb5bd;
$auth-input-color: #eee;
// Navigation
$navigation-bg-color: #fff;
$navigation-menu-item-bg-color: #f5f5f5;
$navigation-menu-item-color: #adb5bd;
// Sidebar
$sidebar-bg-color: #fff;
$sidebar-text-color: #fff;
$sidebar-name-color: #797878;
$sidebar-title-color: #adb5bd;
$sidebar-width: 280px;
// Settings
$settings-name-color: #000;
$settings-text-color: #adb5bd;
$settings-icon-color: #fff;

$gutter-gup: 15px;
$max-container-size: 1000px;
